body{
    background-color: #FFE4C9;
    background-size: cover;
    object-fit: fill;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.navbar{
    align-self: stretch;
    padding-left: 10px;
}

#provider-table-Data{    
    margin-top: 20px;    
}

.tableHeader{
    background-color: rgb(223, 120, 16);
    text-align: center;
    font-size: 1.7em;
}

button {
	background-color:transparent;
	border-radius:6px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;	
	text-decoration:none;	
}

button:active{
    position: relative;
    top: 1px;    
}


table {
    width: 90%;
    border-collapse: collapse;    
}


th, td {
    border: 2px solid;
    padding: 10px;
}

.pcpChanger{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    th, td {
        padding: 5px;
    }

   .pcpChanger{
    display: grid;
   }
}